body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Helvetica;
}

.options {
    display: flex;
    margin: 10px;
}

.option {
    margin: 50px;
}

button {
    background-color: white;
}